.task {
  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  width: 25%;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 16px -8px #014189;
  box-shadow: 0px 0px 16px -8px #014189;
}
.close {
  visibility: collapse;
}
.task li {
  list-style: none;
  font-size: 20px;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}
.task li:hover {
  border-radius: 10px;
  background-color: #ee8c33;
}
.task li input {
  margin: 0.5em;
  justify-self: start;
}
.title {
  margin-right: 50px;
}
.task li span {
  font-size: 1em;
  font-weight: 100;
  color: #f9e0f5;
  margin: 0.5em;
}
.task li button {
  border: none;
  background-color: transparent;
  font-size: 1em;
  font-weight: 100;
  color: #f9e0f5;
  margin: 0.5em;
  cursor: pointer;
}
.task li button i {
  margin: 0.2em;
  color: #f9e0f5;
  cursor: pointer;
}
.task li button i:hover {
  color: #bd6631;
}
.dropdown {
  position: relative;
  display: inline;
}

.dropdown-content {
  display: none;
  position: absolute;
  border-radius: 10px;
  background-color: #ee8c33;
  width: fit-content;
  padding: 5px 8px;
  z-index: 1;
}
.dropdown-content i {
  cursor: pointer;
}
.dropdown-content i:hover {
  color: #fff;
}
.dropdown:hover .dropdown-content {
  display: inline;
}
