@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
body{
    background-image: url('../src/images/bgImg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    background-position: center;
}
